/* variables */

:root {
    --color-head-bg: #333333;
    --color-head-font: #dddddd;
    --color-answer-origin: #dddddd;
    // --color-answer-yes: rgb(29, 207, 23);
    --color-answer-yes: #FF8800;
    --color-answer-maybe: rgb(119, 121, 153);
    --color-answer-no: #333333;
    --nb-rows: 4;
    --nb-cols: 4;
    --gameboard-width: 90vw;
    --gameboard-heigth: 90vw;
    --head-size: 45vw;
    --row-head-font-size: 32px;
    --col-head-font-size: 32px;
}

@media (min-width: 850px) {                             
    :root {
        --gameboard-width: 800px;
        --gameboard-heigth: 800px;
        --head-size: 400px;
    }
}


// Scss functions

// for cols and row heads colors
@function headColor ($color-name) {
    @return var(--color-head-#{$color-name});
}

// for grid tiles colors
@function answerColor ($color-name) {
    @return var(--color-answer-#{$color-name});
}

// for nbs of columns and rows
@function gridElementNb ($element-name) {
    @return var(--nb-#{$element-name});
}



* {
    padding: 0;
    margin: 0;
}

html {
    /* Disable text select =)  */
    // user-select: none;
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    #game-options {
        position: absolute;
        display: block;
        font-size: 2rem;
        padding: 50px 50px;
        border: 15px solid #080808;

        &.hidden {
            display: none;
            // border-color: transparent;
        }

        h2 {
            text-align: center;
            margin-bottom: 50px;
        }

        .option-group {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;

            input {
                width: 70px;
                text-align: center;
                font-size: 2rem;
                margin-left: 50px;

                // &#color-answer-no {
                //     background: rgb(251, 30, 30);
                // }
            }
        }

        #new-game,
        #back-to-default {
            cursor: pointer;
            text-align: center;
            margin-top: 25px;
            padding: 10px 0;
            border: 1px solid black;
        }
    }

    #gameboard {
        display: flex;
        flex-wrap: wrap;
        width: var(--gameboard-width);
        height: var(--gameboard-heigth);
        border: 15px solid #080808;
        // box-sizing: border-box;
        // margin: auto;
        &.hidden {
            display: none;
            // border-color: transparent;
        }
        
        .head-div {
            display: flex;
            flex-wrap: nowrap;
            // width: calc(100% - 400px);
            width: 100%;
            height: var(--head-size);
            // border: 2px solid #555555;

            .free-place-div { 
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: var(--head-size);
                height: 100%;
                // border: 2px solid orangered;

                #another-grid,
                #same-grid-again,
                #remove-maybe-choices,
                #options-btn {
                    cursor: pointer;
                    width: 40%;
                    // align-self: flex-end;
                    text-align: center;
                    // margin-top: 25px;
                    padding: 10px 0;
                    border: 1px solid headColor(bg);
                }

                #answer-choice-div {
                    display: flex;
                    justify-content: space-evenly;
                    // margin-top: 25px;
                    
                    #answer-zero {
                        // cursor: pointer;
                        width: 46px;
                        height: 46px;
                        background-color: answerColor(origin);
                        // border: 3px solid #888888;
                        margin: 15px 20px;
                        box-shadow: inset 0 0  5px 5px white;
                        &.current-choice {
                            // border-color: #FF8800;
                            box-shadow: none;
                        }
                        &::before {
                            content: 'Delete';
                            position: relative;
                            top: -25px;
                            left: -1px;
                        }
                    }
                    
                    #answer-no {
                        cursor: pointer;
                        width: 46px;
                        height: 46px;
                        background-color: answerColor(no);
                        // border: 3px solid #888888;
                        margin: 15px 20px;
                        box-shadow: inset 0 0  5px 5px white;
                        &.current-choice {
                            // border-color: #FF8800;
                            box-shadow: none;
                        }
                        &::before {
                            content: 'No';
                            position: relative;
                            top: -25px;
                            left: 10px;
                        }
                    }
                    
                    #answer-maybe {
                        cursor: pointer;
                        width: 46px;
                        height: 46px;
                        background-color: answerColor(maybe);
                        // border: 3px solid #888888;
                        margin: 15px 20px;
                        box-shadow: inset 0 0  5px 5px white;
                        &.current-choice {
                            // border-color: #FF8800;
                            box-shadow: none;
                        }
                        &::before {
                            content: 'Maybe';
                            position: relative;
                            top: -25px;
                            left: -2px;
                        }
                    }
                    
                    #answer-yes {
                        cursor: pointer;
                        width: 46px;
                        height: 46px;
                        background-color: answerColor(yes);
                        // border: 3px solid #888888;
                        margin: 15px 20px;
                        box-shadow: inset 0 0  5px 5px white;
                        &.current-choice {
                            // border-color: #FF8800;
                            box-shadow: none;
                        }
                        &::before {
                            content: 'Yes';
                            position: relative;
                            top: -25px;
                            left: 5px;
                        }
                    }
                }
            }
            
            .col-head-div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: calc((100% - var(--head-size)) / var(--nb-cols));
                height: 100%;
                background-color: headColor(bg);
                box-sizing: border-box;
                border: 1px solid headColor(font);
                &:nth-child(5n+1) {
                    border-right-width: 3px;
                }&:nth-last-child(1) {
                    border-right-width: 1px;
                    border-right-color: headColor(font);
                }

                .helper {    
                    font-size: var(--col-head-font-size);
                    color: headColor(font);

                    // &.found {
                    //     color: answerColor(yes);
                    // }
                }
            }
        }

        .row-div {
            display:flex;
            flex-wrap: nowrap;
            width: 100%;
            height: calc((100% - var(--head-size)) / var(--nb-rows));

            .row-head-div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: var(--head-size);
                // height: calc((100% - var(--head-size)) / var(--nb-rows));
                height: 100%;
                background-color: headColor(bg);
                box-sizing: border-box;
                border: 1px solid headColor(font);

                .helper {    
                    padding: 0 10px;
                    font-size: var(--row-head-font-size);
                    color: headColor(font);

                    // &.found {
                    //     color: answerColor(yes);
                    // }
                }
            }

            .tile {
                cursor: pointer;
                width: calc((100% - var(--head-size)) / var(--nb-cols));
                height: 100%;
                background-color: answerColor(origin);
                box-sizing: border-box;
                border: 1px solid #222222;
                &:nth-child(5n+1) {
                    border-right-width: 3px;
                    /* border-bottom is in game.js::fillGameboard() -> tileDiv.classList.add('tile'); */
                }
                &:nth-last-child(1) {
                    border-right-width: 1px;
                    border-right-color: headColor(font);
                }
                &[data-answer="yes"] {
                    background-color: answerColor(yes);
                }
                &[data-answer="maybe"] {
                    background-color: answerColor(maybe);
                }
                &[data-answer="no"] {
                    background-color: answerColor(no);
                }
                &:hover {
                    box-shadow: inset 0 0 6px 6px white;
                }
            }
        }
    }

    #victory {
        display: block;
        position: absolute;
        z-index: 1;
        top: 15px;
        font-size: 2rem;
        padding: 25px;
        background-color: #222222;
        color: #dddddd;

        &.hidden {
            display: none;
        }

        h2 {
            text-align: center;
            margin-bottom: 50px;
        }

        p {
            margin: 10px 0;
        }

        #special-congrats {
            display: block;
            text-align: center;

            &.hidden {
                display: none;
            }
        }

        #play-again, #options-link {
            cursor: pointer;
            text-align: center;
            margin-top: 25px;
            padding: 10px 0;
            border: 1px solid #dddddd;
        }

    }
}

// .row-head-div.helper, .col-head-div.helper {    
//     font-size: 2rem;
// }



